* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.back-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.col-30 {
    float: left;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-40 {
    float: left;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-50 {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-60 {
    float: left;
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-70 {
    float: left;
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-100 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.img-responsive {
    width: 100%;
    height: auto;
}
.skyblue {
    background-color: #3778A5;
}
.full-block {
    display: block;
    width: 100%;
    position: relative;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}
.full-block:after, .container:after {
    content: "";
    display: block;
    clear: both;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.noscroll {overflow: hidden}
.star-shape{position:relative;background:-moz-radial-gradient(center,ellipse cover,rgba(0,0,0,.5) 0,rgba(195,195,195,0) 75%,rgba(255,255,255,0) 98%);background:-webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,.5) 0,rgba(195,195,195,0) 75%,rgba(255,255,255,0) 98%);background:radial-gradient(ellipse at center,rgba(0,0,0,.5) 0,rgba(195,195,195,0) 75%,rgba(255,255,255,0) 98%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00ffffff', GradientType=1 )}.star-shape .text-holder{width:100%;height:100%;text-align:center;font-weight:700;position:absolute;top:0;left:0;color:#000;background:-moz-radial-gradient(center,ellipse cover,rgba(255,255,255,.35) 0,rgba(255,255,255,.16) 32%,rgba(255,255,255,0) 60%);background:-webkit-radial-gradient(center,ellipse cover,rgba(255,255,255,.35) 0,rgba(255,255,255,.16) 32%,rgba(255,255,255,0) 60%);background:radial-gradient(ellipse at center,rgba(255,255,255,.35) 0,rgba(255,255,255,.16) 32%,rgba(255,255,255,0) 60%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#00ffffff', GradientType=1 )}.star-shape .shape{height:65%;width:65%;background:orange;position:absolute;top:17.5%;left:17.5%}.star-shape .shape::after,.star-shape .shape::before{height:100%;width:100%;background:orange;content:"";position:absolute}.star-shape .shape::before{-moz-transform:rotate(30deg);-webkit-transform:rotate(30deg);-ms-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg)}.star-shape .shape::after{-moz-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);-ms-transform:rotate(-30deg);-o-transform:rotate(-30deg);transform:rotate(-30deg)}
.cta-button{background:#fa2;background-image:-webkit-linear-gradient(top,#fa2,#ff7c24);background-image:-moz-linear-gradient(top,#fa2,#ff7c24);background-image:-ms-linear-gradient(top,#fa2,#ff7c24);background-image:-o-linear-gradient(top,#fa2,#ff7c24);background-image:linear-gradient(to bottom,#fa2,#ff7c24);-webkit-border-radius:5;-moz-border-radius:5;border-radius:5px;text-shadow:0 1px 2px #fff;font-family:Arial;color:#222;font-size:20px;padding:10px 20px;text-decoration:none}
.cta-button:hover{background:#fcbb3a;background-image:-webkit-linear-gradient(top,#fcbb3a,#ff8400);background-image:-moz-linear-gradient(top,#fcbb3a,#ff8400);background-image:-ms-linear-gradient(top,#fcbb3a,#ff8400);background-image:-o-linear-gradient(top,#fcbb3a,#ff8400);background-image:linear-gradient(to bottom,#fcbb3a,#ff8400);text-decoration:none}

::-webkit-input-placeholder {
   color: #555;
}
:-moz-placeholder { /* Firefox 18- */
   color: #555;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #555;
}
:-ms-input-placeholder {
   color: #555;
}
select:focus, textarea:focus, input:focus{
    outline: none;
}

body {
    overflow: auto;
    background-color: #F4F4F4;
}
header {
    background-color: #000;
    border-bottom: 1px solid #FCB736;
}

#top_bar {
    color: white;
}
#top_bar * {
    color: white;
    text-decoration: none;
}
#top_bar #logo {
    padding: 12px;
    display: inline-block;
    font-size: 15px;
    background-color: #F15E2E;
    font-family: "Times New Roman";
    position: relative;
}
#top_bar #logo:before {
    content: "";
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F15E2E;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: -15px;
    margin-left: -15px;
    line-height: 1.5;
}
#top_bar #logo:after {
    content: "";
    border-left: 15px solid #F15E2E;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: -15px;
    margin-right: -15px;
    line-height: 1.5;
}
#top_bar #logo:hover {
    backface-visibility: visible;
}
#backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../images/banner_1280.jpg');
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
}
#dvd_offer h3 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
}
#dvd_offer div[rel="img_holder"] {
    position: relative;
    max-width: 348px;
    display: block;
    margin: auto;
}
#order_form {
    margin-top: 25px;
    padding: 30px 20px;
    position: relative;
    background-color: rgba(0,0,0,0.6);
}
#order_form h4{
    font-size: 20px;
    color: rgba(255,255,255,0.8);
    text-align: center;
    margin-bottom: 30px;
}
#order_form .form-input {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #ccc;
    display: table;
    position: relative;
}
#order_form .cta-button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: 0;
    margin-top: 15px;
    font-weight: bold;
}
#order_form [type="submit"]:disabled {
    text-shadow:0 1px 2px transparent;
    color: rgba(0,0,0,0.5);
    background: #eee;
    opacity: 0.8;
    cursor: default;
}
#order_form [type="submit"]:disabled:hover {
    background: #eee;
}
#order_form .form-input.error {
    border: 1px solid red;
}
#order_form .form-input.error div.label {display: inline-block;}
#order_form .form-input div.label {
    height: calc(100% - 4px);
    display: none;
    font-family: "Open Sans", sans-serif;
    font-size: 13.333px;color: white;
    position: absolute;right: 2px;top: 2px;
    background-color: #900;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    text-shadow: 1px 1px 7px rgba(150, 150, 150, 1);
    -webkit-animation: bounceIn 500ms; /* Chrome, Safari, Opera */
    animation: bounceIn 500ms;
}
#order_form .form-input div.label span.text {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#order_form .form-input.error {

}
#order_form .form-input.error:after {

}
#order_form.en .form-input.error:after {
    content: "Required";
}
#order_form.nl .form-input.error:after {
    content: "Nodig";
}

#order_form .form-input input {
    width: 100%;
    background-color: transparent;
    border-style: none;
    padding: 10px;
    display: table-cell;
    border-left: 1px solid rgba(0,0,0,0.3);
}
#order_form .form-input input:disabled {
    opacity: 0.6;
}
#order_form .form-input i {
    width: 35px;
    text-align: center;
    display: table-cell;
    color: #555;
}
#video_block .back-overlay {
    background-image: url('../images/tile_1.png');
    height: 60%;
    top: 20%;
    opacity: 0.5;
}
#video_block .container {
    background-color: #F4F4F4;
}
#video_block #video_holder {
    max-width: 850px;
    margin: auto;
}
#video_block .wistia_responsive_padding {
    border: 15px solid rgba(0,30,80,0.85);
    border-radius: 5px;
}

#purchase_block {
    /*background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 47%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 47%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    */
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
    border-bottom: 1px solid white;
}
#purchase_block .back-overlay {
    background-image: url('../images/576ea538a0ba1.jpg');
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
}
#purchase_block #purchase_pointer {
    color: white;
    background-color: #000;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid orange;
}
#purchase_block #purchase_pointer h3 {
    padding: 10px 15px;
    position: relative;
    color: tomato;
}
#purchase_block #purchase_pointer h3:before {
    content: "";
    position: absolute;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-top: 30px solid #000;
    border-right: 50px solid transparent;
    position: absolute;
    top: 100%;
    left: 150px;
    z-index: 1;
}
#purchase_block #purchase_pointer h3:after {
    content: "";
    position: absolute;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-top: 30px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    top: calc(100% + 1px);
    left: 150px;
    z-index: 0;
}
#purchase_block #purchase_item {
    position: relative;
    z-index: 0;
}
#purchase_block #purchase_option {
    margin-top: 10%;
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}
#purchase_block #purchase_option select {
    width: 100%;
    padding: 5px;
}
#purchase_block #purchase_option p {
    margin-bottom: 20px;
}
#purchase_block #purchase_option p:last-child {
    margin-bottom: 0px;
}
#info_block h1 {
    margin-bottom: 15px
}
#info_block p {
    text-align: justify;
    margin-bottom: 5px;
}

footer {
    color: white;
    -webkit-box-shadow: 0px -4px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -4px 12px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -4px 12px 0px rgba(0,0,0,0.5);
    border-top: 1px solid white;
    background-color: #2A3C5B;
}
footer [rel="map"] {
    text-align: right;
    overflow-x: hidden;
}
footer [rel="map"] iframe {max-width: 400px}
footer [rel="info"] p {max-width: 300px;}
footer .socialnetwork {
    margin-top: 30px;
    text-align: center;
}
footer .socialnetwork img {width: 30px;}
footer .copyright {
    max-width: 500px;
    margin: 10px auto auto auto;
    text-align: center;
    font-size: 12px;
}
footer .copyright a {color: orange;}

.modal {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.modal .box {
    padding: 20px;
    margin-top: 50px;
    background-color: #F4F4F4;
    display: inline-block;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    webkit-animation: bounceInDown 500ms; /* Chrome, Safari, Opera */
    animation: bounceInDown 500ms;
}
.modal .text {
    min-width: 150px;
    margin-bottom: 15px;
}
.modal button {
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.modal button:focus {
    outline: none;
}
.plain-button {
  background: #f0f0f0;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #c0c0c0);
  background-image: -moz-linear-gradient(top, #f0f0f0, #c0c0c0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #c0c0c0);
  background-image: -o-linear-gradient(top, #f0f0f0, #c0c0c0);
  background-image: linear-gradient(to bottom, #f0f0f0, #c0c0c0);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #ffffff;
  -webkit-box-shadow: 1px 1px 4px #666666;
  -moz-box-shadow: 1px 1px 4px #666666;
  box-shadow: 1px 1px 4px #666666;
  font-family: Arial;
  color: #202020;
  text-decoration: none;
}

.plain-button:hover {
  background: #ebebeb;
  background-image: -webkit-linear-gradient(top, #ebebeb, #b8b8b8);
  background-image: -moz-linear-gradient(top, #ebebeb, #b8b8b8);
  background-image: -ms-linear-gradient(top, #ebebeb, #b8b8b8);
  background-image: -o-linear-gradient(top, #ebebeb, #b8b8b8);
  background-image: linear-gradient(to bottom, #ebebeb, #b8b8b8);
  text-decoration: none;
}
.plain-button:active {
    position:relative;
    top:1px;
}
.cta-button:active {position:relative;top:1px;}
.title{
    font-size: 1.4em;
    font-weight: 800;
}
strong{
    font-weight: 800;
}
.skyblue h2, .skyblue p{
    color: #fff;
}
.skyblue .container{
    display: flex;
    padding: 2em 1em;
}
.dvd-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#info_block .img-caption {
    text-align: center;
    font-size: .9em;
    margin: .4em auto;
}

@media (max-width: 750px) {
    #purchase_option {
        margin-top: 5% !important;
    }
    .skyblue .container{
        display: block;
    }
}
@media (max-width: 650px) {
    .col-30,.col-40,.col-50,.col-60 {
        width: 100%;
    }
    #order_form {
        margin-top: 5px;
    }
    #purchase_pointer h3:after,
    #purchase_pointer h3:before {
        left: 50%;
        margin-left: -50px;
    }
    #purchase_option {
        margin-top: 0px !important;
    }
    footer [rel="map"],
    footer [rel="info"] {
        text-align: center;
    }
    footer [rel="map"] iframe,
    footer [rel="info"] p {max-width: 100%;}
    footer .copyright {
        padding-left: 15px;
        padding-right: 15px;
    }
}
