#popup_video_object
{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	display: none;
}
#popup_video_object .video-object-overlay
{
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
	filter:alpha(opacity=70);
}
#popup_video_container
{
	display: table-cell;
	vertical-align: middle;
}
#popup_video_object_box
{
	width: 640px;
	height: 360px;
	position: relative;
	background-color: #FFF;
	border: 20px solid #222;
	border-radius: 10px;
	line-height: 360px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 70px 1px rgba(255,255,255,0.6);
	-moz-box-shadow: 0px 0px 70px 1px rgba(255,255,255,0.6);
	box-shadow: 0px 0px 70px 1px rgba(255,255,255,0.6);
}
.video-thumb
{
	width: 100%;
	height: 97%;
	border: 3px solid #D4D4D4;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 100%;
	text-align: center;
	display: block;
}
.video-thumb .background
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.2;
}
.video-thumb .foreground
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/play-1.png");
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.5;
}
.video-thumb:hover .foreground
{
	opacity: 0.7;
}
.video-thumb:hover .background
{
	opacity: 0;
}

@media (max-width: 690px) {
	#popup_video_object_box
	{
		display: block;
		width: 100%;
		border: 0;
		margin: auto !important;
	}
}