body {
    background: #fafafa;
    color: #5a5a5a;
    font-size: 14px;
    line-height: 22px;
}
a {
    color: #e10707;
    text-decoration: none;
}
p {
    margin-top: 0;
    margin-bottom: 11px;
}
.header-area {
    padding: 10px 0;
    border-bottom: 9px solid #E9EAEE;
}

.banner-area {
    background: url("../img/banner.jpg");
    padding: 50px;
    background-size: cover;
    background-position: center;
}
.banner-area .container .row {
    min-height: 500px;
}

.banner-test {
color: #fff;
background: rgba(0,0,0,.2);
padding: 5%;
line-height: 14px;
display: inline-block;
position: relative;
text-align: left;    
}
.banner-test h1 {
    font-size: 38px;
    margin-bottom: 15px;
}
.banner-test p {
    font-size: 21px;
}
.content-wrapper h2 {
    font-size: 38px;
    font-weight: 700;
}
.content-section {
    padding: 25px 0;
}
.content-wrapper p {
    font-size: 16px;
}

.content-wrapper {
    padding: 10px 0;
}

.product-book-area p.price {
    color: #77a464;
    font-size: 18px;
}

.product-book-area a.buy-button {
    background: #ebe9eb;
    color: #515151;
    padding: 6px 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}
.product_content img {
    margin-bottom: 25px;
}
.product-description {
    margin-bottom: 50px;
}
.footer-area {
    background: #5a5a5a;
    padding: 30px 0;
    color: #fff;
}

.copyright {
    font-size: 8px;
}