article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section { 
    display:block;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    color: #222;
    font-family: 'Open Sans', Arial, sans-serif;
}

a {
    color: #091a38;
}

h1 {
    padding: 0;
    margin: 0 0 10px;
    color: #091a38;
    font-size: 1.7em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    padding: 0;
    margin: 0 0 0.5em;
    font-size: 1.6em;
}

h3 {
    padding: 0;
    margin: 0 0 1em;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}

h4 {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    font-weight: normal;
}

p {
    padding: 0;
    margin: 0 0 0.7em;
    font-size: 0.9em;
    line-height: 1.4em;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.mt1em {
    margin-top: 1em;
}

.mt2em {
    margin-top: 2em;
}

.mt4em {
    margin-top: 4em;
}

.lettrine:first-letter {
    float: left;
    padding: 0 4px 0 0;
    margin: 5px 0 0;
    color: #4469fe;
    font-size: 3.5em;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
    background: #324a78;
    border: #324a78 solid 2px;
    border-radius: 10px;
    -webkit-transition: color .2s, background .2s;
    transition: color .2s, background .2s;
}

.btn:hover, .btn:focus {
    color: #324a78;
    background: transparent;
    -webkit-transition: color .2s, background .2s;
    transition: color .2s, background .2s;
}

.table {
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
    vertical-align: top;
}

.inbl {
    display: inline-block;
    vertical-align: top;
}

.w3 {
    width: 3%;
}

.w6 {
    width: 6%;
}

.w47 {
    width: 47%;
}

.vaba {
    vertical-align: baseline;
}

.header {
    background: #182b4c;
}

.header-content {
    max-width: 1000px;
    padding: 40px 0 15px;
    margin: 0 auto;
}

.header-content a {
    color: #dae3f1;
    text-decoration: none;
}

.site-title {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-menu ul {
    padding: 0;
    margin: 0;
}

.header-menu li {
    display: inline-block;
    vertical-align: bottom;
}

.header-menu a {
    display: block;
    font-size: 0.9em;
    padding: 0 10px;
    border-left: #fff solid 1px;
}

.header-menu li:first-child a {
    border-left: none;
}

.header-menu li:last-child a {
    padding-right: 0;
}

.video-container {
    padding: 10px 0;
    background: #324a78;
}

.section {
    padding: 20px;
}

.section:nth-child(odd) {
    background: #f4f4f4;
}

.section:last-child {
    padding-bottom: 3em;
}

.section-content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.book-content {
    position: absolute;
    width: 370px;
    right: 0;
    top: 0;
}

.paypal-form {
    width: 290px;
    padding: 15px 10px;
    margin: 0 auto;
    border: #324a78 solid 2px;
}

.paypal-form label, .paypal-form span, .paypal-form select, .paypal-form input {
    display: inline-block;
    vertical-align: bottom;
}


.container {
    position: relative;
    max-width: 1000px;
    margin: 20px auto;
}

.content {
    margin: 30px 0 0;
}

.title-know-more {
    color: #324a78;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.know-more {
    text-align: center;
}

.know-more a {
    margin: 13px 10px 0;
    color: #461112;
    text-decoration: none;
}

.know-more a:last-child {
    margin: 0 10px;
}

.about span {
    color: #4469fe;
}

.about a {
    color: #4469fe;
    text-decoration: none;
}

.about a:hover, .about a:focus {
    text-decoration: underline;
}

.address {
    font-size: .9em;
}

.address p {
    margin: 0 0 .3em;
}

#contact-form {
    width: 210px;
    font-size: .9em;
}

#contact-form label {
    display: block;
    margin: 0 0 .5em;
}

#contact-form span {
    display: block;
    margin: 0 0 .2em;
}

#contact-form input[type="text"] {
    display: block;
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: .9em;
    border: #bbb solid 1px;
}

#contact-form textarea {
    display: block;
    width: 100%;
    min-height: 60px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: .9em;
    border: #bbb solid 1px;
}

#contact-form input[type="text"]:focus, #contact-form textarea:focus {
    border: #333 solid 1px;
}

#contact-form input[type="submit"] {
    cursor: pointer;
    padding: 3px 15px;
    color: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: .9em;
    text-transform: uppercase;
    background: #4469fe;
    border: #4469fe solid 2px;
}

#contact-form input[type="submit"]:hover, #contact-form input[type="submit"]:focus {
    color: #4469fe;
    background: #fff;
}

.form-error {
    color: #f00;
}

.form-success {
    color: #61b23d;
}


.copyright {
    max-width: 600px;
    padding: 20px 0;
    margin: 0 auto;
    color: #999;
    font-size: .7em;
    text-align: center;
}

.copyright a {
    color: #999;
}

.copyright a:hover, .copyright a:focus {
    color: #333;
}



@media screen and (max-width: 800px) {
    .m-align-center {
        text-align: center;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .container {
        padding: 20px;
    }
    
    .table {
        display: block;
    }
    
    .col {
        display: block;
    }
    
    .book-content {
        position: relative;
        width: 100%;
    }
    
    .w47 {
        width: 100%;
    }
    
    #contact-form {
        width: 100%;
    }
}